#header {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.cv-title {
  padding: 0 25px;
  line-height: 7px;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  border-bottom: 25px solid var(--green);
}

.preview-button {
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: var(--grey);
  color: var(--blue);
  font-family: 'Raleway-SemiBold';
  font-size: 1.3rem;
  border: none;
  transition: all .1s;
}

.preview-button:hover {
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: all .1s;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.info-title span:first-child {
  align-self: center;
}

.fa-plus,
.fa-pen {
  height: 20px;
  margin: 0 5px;
  padding: 10px;
  background-color: var(--grey);
  font-size: 1rem;
  border-radius: 50%;
}
