#header {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.cv-title {
  padding: 0 25px;
  line-height: 7px;
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  border-bottom: 25px solid var(--green);
}

.preview-button {
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: var(--grey);
  color: var(--blue);
  font-family: 'Raleway-SemiBold';
  font-size: 1.3rem;
  border: none;
  transition: all .1s;
}

.preview-button:hover {
  background-color: var(--green);
  cursor: pointer;
  transition: all .1s;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.info-title span:first-child {
  align-self: center;
  padding: 0 10px;
  line-height: 3px;
}

.info-general {
  border-bottom: 16px solid var(--red);
}

.info-practical {
  border-bottom: 16px solid var(--light-blue);
}

.info-educational {
  border-bottom: 16px solid var(--orange);
}

.info-skills {
  border-bottom: 16px solid var(--purple);
}

.fa-plus,
.fa-pen {
  height: 20px;
  margin: 0 5px;
  padding: 10px;
  background-color: var(--grey);
  font-size: 1rem;
  border-radius: 50%;
  transition: all .1s;
}

.fa-plus:hover,
.fa-pen:hover {
  cursor: pointer;
  transition: all .1s;
}

.general:hover {
  background-color: var(--red);
}
.practical:hover {
  background-color: var(--light-blue);
}
.educational:hover {
  background-color: var(--orange);
}
.skills:hover {
  background-color: var(--purple);
}

/* Visibility Styling */
.hidden {
  display: none;
}
