.education-form {
  border-top: 3px solid var(--orange);
  border-bottom: 3px solid var(--orange);
}

.education-form input:focus {
  border: 1px solid var(--orange);
}

#education-start-month:focus,
#education-end-month:focus {
  border: 1px solid var(--orange);
}
