/* Fonts */
@font-face {
  font-family: 'Raleway-Regular';
  font-weight: 400;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  font-weight: 600;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  font-weight: 900;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-ExtraBold.ttf) format('truetype');
}

/* Color palette */
:root {
  --white: #ffffff;
  --grey: #ececec;
  --dark-blue: #394066;
  --green: #c0dad9;
  --red: #f2c9c9;
  --light-blue: #c4d7f4;
  --orange: #fdd5c0;
  --purple: #dfc6e3;
}

/* Animation */
@keyframes slideDown {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  margin: 0;
  font-family: 'Raleway-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: var(--dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin-bottom: 30px;
  padding: 30px 0;
  font-size: 1.2rem;
  -webkit-animation: slideDown 0.3s;
  animation: slideDown 0.3s;
}

form div {
  display: flex;
  justify-content: space-around;
}

form input {
  display: flex;
  width: 200px;
  height: 25px;
  margin: 2px 0 10px 0;
  padding: 2px 10px;
  border: 1px solid var(--dark-blue);
  transition: 0.3s;
}

form input:focus {
  outline: none;
  transition: 0.3s;
}

input,
select {
  border-radius: 2px;
}

fieldset {
  display: flex;
  margin: 10px 0;
  padding: 15px 13px;
  border: 1px solid var(--dark-blue);
}

#employment-type,
#practice-start-month,
#practice-end-month,
#education-start-month,
#education-end-month {
  height: 31px;
  border: 1px solid var(--dark-blue);
  background-color: var(--white);
  transition: 0.3s;
}

#employment-type:focus,
#practice-start-month:focus,
#practice-end-month:focus,
#education-start-month:focus,
#education-end-month:focus {
  outline: none;
  transition: 0.3s;
}

.practice-start-month,
.practice-end-month,
.education-start-month,
.education-end-month {
  display: flex;
  flex-direction: column;
  width: 222px;
  margin: 2px 0 0 28px;
}
