/* Fonts */
@font-face {
  font-family: 'Raleway-Regular';
  font-weight: 400;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  font-weight: 600;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  font-weight: 900;
  src: local('Raleway'),
    url(../assets/fonts/Raleway-ExtraBold.ttf) format('truetype');
}

/* Color palette */
:root {
  --white: #FFFFFF;
  --grey: #ECECEC;
  --dark-blue: #394066;
  --green: #C0DAD9;
  --red: #F2C9C9;
  --light-blue: #C4D7F4;
  --orange: #FDD5C0;
  --purple: #DFC6E3;
}

/* Animation */
@keyframes slideDown {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  margin: 0;
  font-family: "Raleway-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  color: var(--dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
select {
  border-radius: 2px;
}

fieldset {
  display: flex;
  margin: 10px 0;
  padding: 15px 13px;
  border: 1px solid var(--dark-blue);
}
