.person-name {
  margin: 30px 0 10px 0;
  padding: 20px;
  background-color: var(--dark-blue);
  font-family: 'Raleway-SemiBold';
  color: var(--white);
  text-align: center;
  border-radius: 2px;
}

.person-contacts {
  display: flex;
  justify-content: space-around;
}

.person-contacts span {
  font-family: 'Raleway-SemiBold';
}

.person-about {
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--dark-blue);
  border-bottom: 1px solid var(--dark-blue);
}
