.person-name {
  margin: 25px 0 0 0;
  padding: 20px;
  background-color: var(--dark-blue);
  font-family: 'Raleway-SemiBold';
  color: var(--white);
  text-align: center;
  border-radius: 2px;
}

.person-title {
  text-transform: capitalize;
}

.person-contacts {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.person-about {
  margin: 0;
  padding: 25px;
  text-align: center;
  background-color: var(--grey);
  border-bottom: 3px solid var(--red);
  border-radius: 2px 2px 0 0;
}

.person-contacts span,
.person-about span {
  font-family: 'Raleway-SemiBold';
}
