.practice-form {
  padding-bottom: 60px;
  border-bottom: 3px solid var(--light-blue);
}

.practice-form input:focus,
#employment-type:focus,
#practice-start-month:focus,
#practice-end-month:focus {
  border: 1px solid var(--light-blue);
}

.employment-label {
  display: flex;
  flex-direction: column;
}

#employment-type {
  margin-top: 2px;
  width: 222px;
}
