.practice-preview {
  border-bottom: 3px solid var(--orange);
}

.practice-title {
  margin: 0 20px 5px 20px;
  font-family: 'Raleway-SemiBold';
  text-transform: capitalize;
}

.practice-company {
  font-family: 'Raleway-Regular';
  font-style: italic;
}

.practice-date {
  margin: 0 20px;
}
.practice-task {
  margin: 10px 20px;
}

.practice-type {
  margin: 0 20px 20px 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.practice-task span,
.practice-type span {
  font-family: 'Raleway-SemiBold';
}
