.skills-list {
  width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 7px;
}

.skill {
  margin: 5px;
  font-size: 1rem;
  overflow-y: auto;
  background-color: var(--grey);
  border-radius: 2px;
  -webkit-animation: slideDown-small 0.3s;
  animation: slideDown-small 0.3s;
}

.skill-text {
  margin: 8px 5px 8px 10px;
}
