.skills-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--purple);
}

.skills-form label {
  margin-left: 13px;
}

.skills-form input:focus {
  border: 1px solid var(--purple);
}
