.skills-form {
  border-bottom: 3px solid var(--light-blue);
}

.skills-form label {
  margin-left: 13px;
}

.skills-form input:focus {
  border: 1px solid var(--light-blue);
}

.skills-handling {
  display: flex;
  justify-content: space-between;
}
